:root {
	--color-typo: #133e53;
	--color-cream: #f8f7f1;
	--color-peach: #f26e4c;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	background: var(--color-cream);
}

/* Navbar Section */

.navbar__title:hover {
	color: var(--color-peach);
}

/* Hero Section */

.experience__count {
	font-size: 60px;
}

.hero__image {
	width: 100%;
}

.hero__cert-img {
	width: 120px;
}

/* Services Section */

.project__icon {
	width: 60px;
	height: 60px;
}

/* Work Experience Section */

.timeline__dot {
	position: absolute;
	top: 0;
	left: -16px;
	border-style: dashed;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: var(--color-cream);
}

/* Projects Section */

.projects__carousel {
	max-width: 800px;
	margin: 0 auto;
	border-radius: 24px;
}

/* Utility Classes */
.w-40 {
	width: 40%;
}

.w-30 {
	width: 30%;
}

.work-exp {
	border-left-style: dashed;
	border-left-color: var(--color-typo);
	border-right: none;
}

.font-cursive {
	font-family: "Cedarville Cursive", cursive;
}

.text-peach {
	color: var(--color-peach);
}

.font-heading {
	font-family: "Lato", sans-serif;
	font-weight: 900;
}

.text-typo {
	color: var(--color-typo);
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-semibold {
	font-weight: 600;
}

.navbar {
	background-color: var(--color-cream) !important;
}

.navbar .nav-link:hover {
	color: var(--color-peach) !important;
}

.text-email {
	color: var(--color-peach) !important;
}

.text-email:hover {
	text-decoration: underline;
}

/* For Small Phones */
@media screen and (min-width: 576px) {
	.hero__image {
		width: 450px;
	}
}

/* For Tablet */
@media screen and (min-width: 768px) {
	.hero__greetings {
		font-size: 56px;
	}
}

/* For Desktop */
@media screen and (min-width: 992px) {
	.w-lg-40 {
		width: 40%;
	}

	.w-lg-50 {
		width: 50%;
	}

	.contact__form {
		max-width: 800px;
		margin: 0 auto;
	}

	.exp-left .work-exp {
		border-right-style: dashed;
		border-right-color: var(--color-typo);
		border-right-width: 1.5px;
		border-left: none;
		margin-left: 1.5px;
		text-align: right;
	}

	.exp-left .timeline__dot {
		left: unset;
		right: -16px;
	}
}

/*
  Custom Form Control Shadow
  Reference: https://stackoverflow.com/a/14822905
*/
.form-control:focus,
.btn-peach:focus,
.custom-select:focus {
	border-color: rgba(242, 110, 76, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
		0 0 8px rgba(242, 110, 76, 0.6);
	outline: 0 none;
}

/*
  Custom Peach Button
  Reference: https://blog.koalite.com/bbg/
*/

.btn-peach {
	color: #ffffff;
	background-color: #f26e4c;
	border-color: #f26e4c;
}

.btn-peach:hover,
.btn-peach:focus,
.btn-peach:active {
	color: #ffffff;
	background-color: #f05e39;
	border-color: #f26e4c;
}
